code {
  word-wrap: break-word;

  font-weight: normal;
}
del{
  background-color: #ff4b33;
}

ins{
  background-color: #62ff00;
}

h1,
h2 {
  margin: 1rem 0 .5rem;
}

h6 {
  margin-top: 0;

  line-height: 1;
}

li {
  list-style-position: inside;
}

.links {
  font-size: .85rem;
}
.myli{
  display: inline; /* Отображать как строчный элемент */
  margin-right: 5px; /* Отступ слева */
  border: 0.3px solid rgb(3, 1, 71); /* Рамка вокруг текста */
  padding: 3px;
  margin-button: 5px;
}
.sticky{
  z-index: 100;
}